body {
    background: red;
    font-size: 12px;
}

button {
    width: 150px;
}

p {
    color: blue;
    padding: 10px;
}

ul {
    padding-left: 10px;
}

ul li {
    border-bottom: 1px solid #CCC;
}